@import "vars"
@import "fonts"
@import "libs"

*
	box-sizing: border-box

::placeholder
	color: #000

::selection
	background-color: $accent
	color: #fff

html, body
	height: 100%
	margin: 0
	padding: 0

body
	font-size: 16px
	font-weight: 400
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $fontcolor
	background-color: #fefefe
	input, textarea
		border: #fff 1px solid
		outline: none
		&:focus:required:invalid
			// border-color: red
			outline: none
			&:required:valid
				// border-color: green

.container
	width: 1250px
	margin: 0 auto
	padding: 0 20px
	position: relative

.img-responsive
	display: block
	max-width: 100%
	height: auto

section
	padding: 80px 0 115px 0
	position: relative
	background: #ffffff

h3.type-head
	font-size: 36px
	font-weight: 900
	text-align: center
	line-height: 1.1
	margin-top: 0
	margin-bottom: 42px
	color: #313131
	span
		color: $accent

		

.button
	color: $fontcolor
	height: 50px
	width: 100%
	font-weight: 400
	font-size: 14px
	text-align: center
	outline: none
	position: relative
	z-index: 1
	display: flex
	align-items: center
	justify-content: center
	text-decoration: none
	background: $buttonbg
	padding: 3px
	border-radius: 10em
	transition: $time
	margin: auto
	&.button-header
		height: auto
		font-size: 14px
		font-weight: 400
		text-transform: none
		height: 42px
		margin-left: 96px
		min-width: 232px
		color: #211E1E
		box-shadow: none
		&:focus, &:hover, &:active
			background: $buttonbghover
	&:focus, &:hover
		outline: none
		&:after
			opacity: 1
		span
			&::after
				background-color: transparent
	&:active
		background: $buttonbghover
	span
		z-index: 3
		position: relative

.headers
	.header
		position: fixed
		top: -70px

.header
	width: 100%
	position: fixed
	top: 0
	background-color: #fff
	padding: 14px 0
	z-index: 110
	transition: $time
	.container
		display: flex
		justify-content: space-between
	.right-side
		display: flex
		align-items: center
	.mail-link
		text-decoration: none
		font-size: 16px
		color: #000
		display: flex
		align-items: center
		white-space: nowrap
		transition: $time
		svg
			margin-right: 10px
			path
				transition: $time
		&:hover
			color: $accent
			svg
				path
					fill: $accent



.top-section
	padding: 0
	background: url('../img/top-bg.jpg') center no-repeat
	background-size: cover
	color: #fff
	min-height: 100vh //new
	width: 100%
	display: flex
	.top-logo-sm
		display: none
	.container
		margin-top: 90px
		display: flex
		justify-content: center
		flex-direction: column
	.header
		.container
			margin: 0 auto
			flex-direction: row
			justify-content: space-between
	.logo-sm
		margin-top: 30px
		img
			margin: 0 auto
	h1
		margin: 0 0 60px 0
		line-height: 1.3
		font-size: 35px
		font-weight: 900
		color: #fff
		span
			color: $accent
	.top-items-grid
		display: grid
		grid-gap: 57px
		grid-template-columns: repeat(6, 1fr)
		margin-bottom: 68px
		p
			font-size: 13px
			font-weight: 400
			line-height: 1.5
			margin: 15px 0 0
			span
				font-weight: 800
				color: $accent
	.top-section-button
		display: flex
		align-items: center
		justify-content: flex-start
		margin-bottom: 50px
		.button
			margin-right: 40px
			max-width: 275px
		p
			font-size: 13px
			margin: 0
			line-height: 1.4
			color: #9f9f9f
	.top-section-links
		display: flex
		justify-content: space-between
	.publication
		width: 500px
		p
			font-size: 14px
			font-weight: 300
			margin: 0 0 25px
			opacity: 0.7
		.links
			display: flex
			flex-direction: column
			.line
				display: flex
				justify-content: space-between
				align-items: center
		a
			color: #fff
			text-decoration: none
			display: block
			font-size: 18px
			font-weight: 700
			flex-shrink: 0
			&:not(:last-child)
				margin-right: 20px
			span
				opacity: 0.7



.about-section
	padding: 108px 0 90px 0
	background-size: cover
	h3.type-head
		text-align: left
		margin-left: 495px
	.text
		margin-left: 495px
		position: relative
		img
			position: absolute
			left: -610px
			bottom: 0
		p
			font-size: 14px
			margin-bottom: 25px
			line-height: 1.8
			span
				font-weight: 900
				span
					color: $accent



.info-items-section
	padding: 90px 0
	background: #F0F0F0
	.button
		max-width: 275px
.info-items-grid
	display: grid
	grid-template-columns: repeat(4, 1fr)
	grid-row-gap: 55px
	grid-column-gap: 25px
	margin-bottom: 20px
	.item-img
		display: flex
		justify-content: flex-start
		align-items: flex-end
		margin-bottom: 24px
	p
		line-height: 1.4
		font-weight: 400
		font-size: 14px
		margin: 0
		span
			font-weight: 700



.reasons-section
	padding: 80px 0 90px 0
	border-bottom: 1px solid #BFBFBF
	h3.type-h
	.reasons-grid
		display: grid
		grid-template-columns: repeat(3, 1fr)
		grid-gap: 45px
		img
			margin-bottom: 15px
		.reason-item
			span
				font-size: 18px
				font-weight: 700
				span
					color: $accent
			p
				font-size: 13px
				line-height: 1.4
				margin: 0




.callback-section
	padding: 90px 0
	text-align: left
	position: relative
	.callback-form
		z-index: 3
	&.second
		img
			left: 52px
	img
		position: absolute
		bottom: -90px
		left: 175px
		z-index: 2
	.text-form
		display: grid
		grid-template-columns: auto 604px
	span.stroke
		text-transform: uppercase
		font-size: 96px
		font-weight: 900
		margin: 0px 0 20px 0
		line-height: 0.9
		display: block
		span
			font-size: 35px
	p
		font-size: 24px
		font-weight: 900
		margin: 0
		line-height: 1.2



.black-section
	background: url("../img/black-bg-1.jpg") center no-repeat
	background-size: cover
	text-align: center
	padding: 75px 0 95px 0
	color: #fff
	&.second
		background: url("../img/black-bg-2.jpg") center no-repeat
		background-size: cover
	p
		margin: 0
		font-size: 23px
		line-height: 1.5
		font-weight: 400
		span
			font-weight: 600









.num-section
	padding: 110px 0
	background: url('../img/num-bg.jpg') center no-repeat
	background-size: cover
	color: #ffffff
	h3.type-head
		color: #ffffff
		span.stroke
			-webkit-text-stroke: 1px #ffffff
	.num-grid
		display: grid
		grid-template-columns: repeat(3, 1fr)
		margin: 0 auto
	.num-item
		display: inline-block
		&:nth-child(1)
			border-bottom: 1px solid rgba(255,255,255,.29)
			padding-bottom: 24px
		&:nth-child(2)
			border-bottom: 1px solid rgba(255,255,255,.29)
			border-right: 1px solid rgba(255,255,255,.29)
			border-left: 1px solid rgba(255,255,255,.29)
			padding-left: 90px
			padding-bottom: 24px
		&:nth-child(3)
			border-bottom: 1px solid rgba(255,255,255,.29)
			padding-left: 110px
			padding-bottom: 24px
		&:nth-child(4)
			padding-top: 30px
		&:nth-child(5)
			border-right: 1px solid rgba(255,255,255,.29)
			border-left: 1px solid rgba(255,255,255,.29)
			padding-left: 90px
			padding-top: 30px
		&:nth-child(6)
			padding-left: 110px
			padding-top: 30px
		&-number
			line-height: 1
			margin-bottom: 10px
			font-weight: 700
			font-size: 18px
			span
				display: block
				font-size: 55px
				font-weight: 900
				background: $buttonbg
				-webkit-background-clip: text
				-webkit-text-fill-color: transparent
				margin-top: 7px
				span
					display: inline-block
					font-size: 24px
		p
			font-size: 16px
			font-weight: 300
			line-height: 1
			margin: 0



.why-best-section
	padding: 75px 0 270px
	.right-box-big
		top: 722px
	.left-box-sm
		top: 100px
	.best-item
		h4
			color: $accent
			font-weight: 800
			font-size: 24px
			margin: 60px 0 24px
			line-height: 1
			text-align: center
		.item-text
			display: grid
			grid-template-columns: repeat(2, 1fr)
			grid-gap: 130px
			.left-side, .right-side
				position: relative
				z-index: 2
				&::after
					content: ''
					position: absolute
					top: 5px
					left: 0
					width: 16px
					height: 5px
					background-color: #ff9a9a
				p
					margin: 0
					font-weight: 300
					text-indent: 22px
					line-height: 1.4
					span
						font-weight: 700
				.badge
					position: absolute
					left: 50%
					transform: translateX(-50%)
					font-size: 700px
					font-weight: 700
					line-height: 0.95
					z-index: 1
					opacity: 0.05
			.right-side
				&::after
					background-color: #289d11
				&::before
					content: ''
					position: absolute
					top: 0px
					left: 6px
					height: 15px
					width: 5px
					background-color: #289d11



.founders-section
	padding-bottom: 230px
	.right-box-sm
		top: 263px
	.left-box-big
		top: 710px
	.founder
		display: flex
		justify-content: space-between
		align-items: flex-start
		padding: 30px 0
		&:not(:last-child)
			border-bottom: 1px solid rgb(228, 228, 228)
		&:nth-child(odd)
			flex-direction: row-reverse
			.description
				margin-left: 0
				margin-right: 40px
		.description
			max-width: 810px
			margin-left: 48px
			margin-top: 45px
	.name
		margin-top: 45px
		font-weight: 900
		font-size: 24px
		color: transparent
		-webkit-text-stroke: 1px $fontcolor
	p
		font-size: 18px
		font-weight: 300
		font-style: italic
		margin: 0 0 17px
	ul
		padding-left: 12px
		li
			font-size: 16px
			line-height: 1.3
			list-style-type: none
			position: relative
			margin-bottom: 14px
			&::after
				content: ''
				width: 6px
				height: 2px
				background-color: $fontcolor
				position: absolute
				left: -12px
				top: 8px
			span
				font-weight: 700
	.socials
		a
			margin-right: 12px



.photo-section
	padding-top: 250px
	background: url('../img/photo-bg.jpg') center no-repeat
	background-size: cover
	color: #ffffff
	text-align: center
	h3.type-head
		color: #ffffff
		margin-bottom: 10px
	p
		font-size: 18px
		margin: 0 0 50px
	.info-block
		top: -440px
	h4
		text-align: center
		font-size: 18px
		font-weight: 100
	.gallery
		position: relative
		.owl-nav
			> div
				position: absolute
				bottom: 0
				width: 50px
				height: 392px
				display: flex
				justify-content: center
				align-items: center
				transition: $time
				color: $fontcolor
				font-size: 30px
				padding-bottom: 1px
				&:hover
					background-color: rgba($accent, .5)
	.slide-item
		height: 415px
		display: flex
		flex-direction: column
		padding-top: 23px
		position: relative
		h5
			padding: 19px 0
			width: 250px
			text-align: center
			font-size: 18px
			font-weight: 700
			color: $fontcolor
			background: #fff
			border-radius: 10em
			line-height: 1
			position: absolute
			top: 0
			left: 50%
			transform: translateX(-50%)
			margin: 0
		.res-imgs
			display: grid
			grid-template-columns: repeat(3, 1fr)
			grid-gap: 30px
			height: 100%
			padding: 0 50px
			background: #ffffff
			border-radius: 10px
			img
				z-index: 2
				position: relative
				align-self: center
	.owl-dots
		position: absolute
		bottom: 0
		left: 50%
		transform: translateX(-50%)
		margin-bottom: -55px
		.owl-dot
			width: 7px
			height: 7px
			background-color: #a4a4a4
			border-radius: 10em
			display: inline-block
			&:not(:last-child)
				margin-right: 24px
			&.active, &:hover
				background-color: $accent



.variants-section
	padding: 80px 0 40px 0
	.container
		display: flex
		flex-direction: column
		justify-content: center
	.variants-block
		display: grid
		grid-template-columns: 465px 465px
		grid-gap: 64px
		margin: auto
	.variant
		box-shadow: 0px 4px 22px 19px rgba(0, 0, 0, 0.04)
		border-radius: 4px
		position: relative
		padding-top: 44px
		&.esclusive
			.name
				background: $yellow
				color: $fontcolor
			ul
				li
					&::before
						background: url(../img/confirmed-yellow.png) center no-repeat
		.name
			background: $accent
			color: #fff
			text-align: center
			height: 48px
			position: absolute
			top: -20px
			left: 30px
			display: flex
			z-index: 2
			border-radius: 4px
			h4
				font-size: 24px
				font-weight: 900
				padding: 11px 33px
				margin: 0
				display: flex
				align-items: center
		ul
			margin: 0
			padding: 0
			li
				list-style-type: none
				line-height: 1.4
				padding: 12px 18px 12px 40px
				background: #ffffff
				position: relative
				font-size: 14px
				text-indent: -10px
				&.top-border
					border-top: 1px solid #D8D8D8
					color: $accent
					padding-left: 30px
					text-indent: 0
					font-weight: 700
		.price-button
			padding: 32px 35px 32px 39px
			background: $accent
			color: #fff
			p
				font-size: 14px
				margin: 0 0 19px
				span
					font-size: 16px
					font-weight: 900
			div
				display: flex
				p
					&:not(:last-child)
						margin-right: 43px
						
			.button
				max-width: 390px
				color: $fontcolor



.founder-section
	padding: 40px 0 75px 0
	background-size: cover
	h3.type-head
		text-align: left
		margin-left: 637px
		margin-bottom: 24px
	.text
		margin-left: 637px
		position: relative
		img
			position: absolute
			left: -650px
			bottom: -75px
		span
			font-size: 18px
			margin: 0
		p
			font-size: 14px
			margin: 18px 0 0px
			line-height: 3.1
			span
				font-size: 14px
				font-weight: 700



.example-section
	padding: 80px 0
	background: #f0f0f0
	h3.type-head
		text-align: left
		margin-bottom: 15px
	.example-grid
		display: grid
		grid-template-columns: 50% 50%
		grid-gap: 84px
		p
			max-width: 604px
			font-size: 18px
			line-height: 2.2
		.button
			max-width: 390px
			margin: 0



.conference-section
	padding: 70px 0 90px
	h3.type-head
		margin-bottom: 30px
	.conference-grid
		display: grid
		grid-template-columns: auto auto
		grid-gap: 30px
		margin-bottom: 27px
	h4
		font-size: 24px
		font-weight: 700
		line-height: 1.4
		margin: 23px 0 19px
	span
		font-size: 18px
		font-weight: 700
	p
		margin: 5px 0 0
		line-height: 1.7
	.button
		max-width: 391px
		span
			font-size: 14px
			font-weight: 400

	

.info-section
	padding: 0
	display: grid
	grid-template-columns: 50% 50%
	background: #F0F0F0
	.left
		background: url('../img/info-img.jpg') center no-repeat
		background-size: cover
	.right
		img
			margin: 7px 0 0 55px
		p
			max-width: 478px
			margin: 18px 0 128px 96px
			line-height: 1.9
			font-size: 18px



.faq-section
	padding-bottom: 246px
	h3.type-h
		margin-bottom: 50px
	.faq-block
		display: grid
		grid-template-columns: repeat(2, 1fr)
		grid-gap: 70px
	.faq
		.faq-name
			background: #ffffff
			padding: 9px 20px 0 55px
			margin-bottom: 30px
			cursor: pointer
			position: relative
			transition: $time
			.icon
				position: absolute
				top: 20px
				left: 20px
				width: 15px
				height: 15px 
				transition: $time
				&::after, &::before
					content: ''
					position: absolute
					background-color: $accent
					top: 50%
					left: 50%
					transform: translate(-50%, -50%)
					transition: $time
				&::after
					width: 24px
					height: 4px
				&::before
					width: 4px
					height: 24px
			&.active
				.icon
					&::before
						width: 0
						height: 0
			&:hover
				color: $accent
			h4
				font-size: 18px
				font-weight: 900
				line-height: 1.1
				margin: 0
		p
			display: none
			margin: 25px 0 45px 25px
			font-weight: 400
			font-size: 14px
			line-height: 1.5



.form
	padding: 70px 72px 65px 72px
	background: #fff
	box-shadow: 0px 4px 32px 22px rgba(0, 0, 0, 0.07)
	display: flex
	flex-direction: column
	position: relative
	margin: auto
	.input
		padding-left: 0
		padding-right: 20px
		margin-bottom: 30px
		font-weight: 400
		font-size: 14px
		border-bottom: 1px #BFBFBF solid
		background: transparent
		color: #BFBFBF
		height: 40px
		&::placeholder
			color: #BFBFBF
			opacity: 1
		&:focus
			&::placeholder
				color: transparent
	.button
		width: 100%
		height: 59px
		margin-top: 19px
		border: none
		span
			font-size: 14px
			margin: 0
		&:hover
			cursor: pointer
			background-color: $buttonbghover
	.success
		font-weight: 900
		font-size: 36px
		padding: 40px
		span
			color: $accent
			margin-bottom: 0
			line-height: 1
			text-transform: uppercase
			span
				color: #fff
				font-size: 15px
				font-weight: 400
				margin-top: 25px
	&::before
		content: ''
		box-sizing: border-box
		z-index: 10
		opacity: 0
		visibility: hidden
		transition-property: opacity, visibility
		transition-duration: .15s
		position: absolute
		top: 50%
		left: 50%
		margin-top: -25px
		margin-left: -25px
		display: block
		width: 50px
		height: 50px
		border-radius: 50%
		border-style: solid
		border-color: $accent rgba( 198, 198, 198, 0.5 ) rgba( 198, 198, 198, 0.5 )
		border-width: 4px
		animation: loading-spin .7s infinite linear
	&::after
		content: ''
		background-color: #1f1e1eee
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		z-index: 9
		opacity: 0
		visibility: hidden
	&.loading
		&::before, &::after
			opacity: 1
			visibility: visible

.checkbox-personal
	display: flex
	justify-content: flex-start
	align-items: flex-start
	color: $fontcolor
	font-weight: 300
	opacity: .5
	margin-top: 25px
	padding-left: 46px
	p
		font-size: 12px
		font-weight: 300
		line-height: 1.2
		color: $fontcolor
		margin: 0
	a
		color: $fontcolor
		text-decoration: underline
		&:hover
			text-decoration: none
	.checkbox
		margin-right: 12px
		flex-shrink: 0



.footer
	padding: 30px 0 15px
	color: #B5B5B5
	border-top: 1px solid #CFCFCF
	.line
		display: grid
		grid-auto-flow: column
		grid-gap: 50px
		justify-content: space-between
		align-items: center
		font-size: 14px
		color: $fontcolor
		span
			font-size: 14px
		a
			color: $fontcolor
			text-decoration: none
			transition: $time
			&:hover
				color: $accent
	.adults-only
		font-size: 14px
		line-height: 1.1
		margin: 20px 0 25px
	p
		font-size: 12px
		line-height: 1.3
		margin: 0



.popup-video
	max-width: 640px
	margin: auto

.popup-form
	max-width: 560px
	span
		font-size: 30px
		font-weight: 800
		text-align: center
		display: block
		margin-bottom: 15px
		line-height: 1.4
		span
			font-size: 18px
			font-weight: 400
	.button
		span
			font-weight: 400

.mfp-close-btn-in .mfp-close
	color: #000
	background-color: #fff
	width: 25px
	height: 25px
	line-height: 25px
	margin-top: 10px
	margin-right: 10px
	&:focus
		outline: none

.mfp-close
	outline: none !important

.politic
	max-width: 550px
	margin: 40px auto
	padding: 20px 30px
	position: relative
	background-color: #fff
	h4
		font-size: 24px
		margin-bottom: 20px
		line-height: 1.1
		font-weight: 900
		margin-top: 10px
		text-align: center
	p
		line-height: 1.3
		font-weight: 300

.success
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	text-align: center
	z-index: 2
	font-weight: 300
	background-color: #181818
	align-items: center
	justify-content: center
	font-size: 30px
	// display: flex
	display: none
	.close-popup
		position: absolute
		top: 0
		right: 15px
		font-size: 28px
		font-weight: 400
		color: #000000
		text-decoration: none
		transition: all .25s ease
		opacity: 0.7
		&:hover
			opacity: 1
	span
		color: $accent
		margin-bottom: 0
		line-height: 1
		span
			color: #fff
			font-size: 20px
			font-weight: 400
			margin-top: 25px
			&.suc-descr
				text-transform: none
				margin-top: 20px
				line-height: 1.3
				display: block
	&.visible
		display: flex

.d-none
	display: none

@-webkit-keyframes loading-spin
	from
	transform: rotateZ(0deg)

	to
	transform: rotateZ(360deg)

@keyframes loading-spin
	from
		transform: rotateZ(0deg)

	to
		transform: rotateZ(360deg)

.spinner
	position: relative

.top-section.thank-you-page
	h1
		text-align: center
		margin-bottom: 30px
		font-size: 55px
	h2
		text-align: center
		font-size: 36px
		font-weight: 400
		margin-bottom: 65px
	p
		font-size: 18px
		margin-bottom: 50px
		text-align: center
	.button
		max-width: 495px
		margin: 0 auto

@import "media" // Always at the end
